{% extends "layout/base.njk" %}

{% block title %}
    {{translate('title_default')}}
{% endblock %}

{% block content %}
    <div class="image-container">
        <img src="/assets/images/indie_logo.png" class="img-fluid" alt="INDIe Project"/>
    </div>
{% endblock %}